
html {background: #dddddd;}<! -- #000025 ou #252525 color-scheme: light dark -->
head {
	title:"M'hamed";
	<meta charset="utf-8">
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
}
body {
	color: #252525;<! -- #90ffff ou #dddddd -->
	width: 100vw;
	height: 100vh;
}
body > div {
	max-width: 28em;
	margin: auto;
}
h1 {text-align: center;}
h2 {margin-bottom: 0;}
ul {margin-top: 0.5rem; style="list-style-type:disc"}
a {text-decoration: none;}
p {margin: 0;}

